@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Neue Montreal;
  src: url(../asset/fonts/NeueMontreal/NeueMontreal-Light.otf);
}

:root {
  --white: 255, 255, 255;
}

body {
  background-color: rgb(var(--white));
}

.main-page-container {
  width: calc(100vw - 80px);
  height: calc(100vh - 80px);
  margin: 40px;
  padding: 40px;
  font-family: Neue Montreal;
}

.main-page-title {
  font-size: 40px;
  font-weight: bold;
}

.main-page-description {
  font-size: 20px;
}