@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Neue Montreal;
  src: url(../asset/fonts/NeueMontreal/NeueMontreal-Light.otf);
  font-weight: normal;
}

@font-face {
  font-family: Neue Montreal;
  src: url(../asset/fonts/NeueMontreal/NeueMontreal-Bold.otf);
  font-weight: bold;
}

:root {
  --white: 255, 255, 255;
  --black: 0, 0, 0;
}

body {
  background-color: rgb(var(--white));
}

.main-page-container {
  width: calc(100vw - 80px);
  height: calc(100vh - 80px);
  margin: 40px;
  padding: 40px;
  font-family: Neue Montreal;
}

.main-page-title {
  font-size: 40px;
  font-weight: bold;
}

.main-page-description {
  font-size: 20px;
}

.main-page-navbar {
  font-size: 18px;
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
  width: 200px;
  position: absolute;
  bottom: 80px;
}

.main-page-navbar li a {
  display: block;
  padding: 8px 0px;
  text-decoration: none;
}

.main-page-navbar li a:hover {
  font-weight: bold;
}

.navbar-active {
  font-weight: bold;
}

.navbar-nonactive {
  font-weight: normal;
}

.main-page-container-content {
  position: absolute;
  bottom: 80px;
  right: 80px;
  width: 50vw;
  height: calc(100% - 160px);
}

/* Menu Lang Component*/
.menu-lang {
  margin-bottom: 5px;
}

.menu-lang-title {
  margin-right: 10px;
}

.menu-lang-link:nth-child(2) {
  margin-right: 5px;
}

/* Theme Switcher Component*/
input[type='radio'] {
  box-sizing: border-box;
  appearance: none;
  border: 3px solid rgb(var(--white));
  width: 16px;
  height: 16px;
}